.search-element{
    display: flex;
    margin-left:0.6rem;
    margin-right:0.6rem;
   input,button{
       background-color: $searchBar-color;
   } 
   input{
       border:none;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
       &:focus{
           background-color: $searchBar-color !important;
       }
   }
   button{
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       &:hover{
        background-color: $searchBar-color !important;
       }
   }
   
}