
{% extends 'base.html' %}
{% block content %}


{% load crispy_forms_tags %}
{% load static %}


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico' %}" />

  <style>

    .bg-image {
  background-image: url('{% static 'C:\Users\adity\OneDrive\Desktop\live projects\django\static\B_img\login_bg.jpeg' %}');
  background-size: cover;
  background-repeat: no-repeat;
}
  </style>

  <style>
    h1 {
      text-align: center;
      color: white;

    }
  </style>

  <style>
  img {
    width: 300px;
    padding-top: 50px;
  }
  </style>
</head>

<body class="bg-image">
  <div class="loader"></div>

  <div style="text-align: center;">
      <img src="{% static 'C:\Users\adity\OneDrive\Desktop\live projects\django\static\assets\img\company_logo.png' %}" alt="Company Logo">
  </div>

  <div style="padding-top: 30px;"><h1> Welcome to Mastersoft Recruitment Portal </h1> </div>
  <div id="app">
    <section class="section">
      <div class="container" style="padding-top: 40px;">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>
               <hr>
              <div class="card-body">

                <form action="" method="POST">
                   {% csrf_token %}

                  {{form|crispy}}

                  <div class="form-group Text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
                </div>
              </div>
            </div>
<!--            <div class="mt-2 text-muted text-center">-->
<!--              Don't have an account? <a href="{% url 'register' %}"> Create one here</a>-->
<!--            </div>-->
          </div>
        </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


{% endblock %}



