.dot{
    height:20px;
    width:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 50%;

}

.dot-red{
    background-color:#F3565D;
}

.dot-orange{
    background-color:#fe9701;
}

.dot-blue{
    background-color:#00bcd4;
}

.dot-green{
    background-color:#1bbc9b;
}

.dot-pink{
    background-color:#DC35A9;
}

.dot-purple{
    background-color:#9b59b6;
}

