
{% extends 'HR/base.html' %}

{% load static%}

{% block content %}

<!--table showing the data of candidate for next round-->
{% if scheduled_interview_all_object %}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h4>Scheduled Interviews </h4>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table id="second-table" class="ui-widget ui-widget-content table table-striped ">
                        <tr>
                            <th style="text-align: center" >Sl.No</th>
                            <th style="text-align: center">Candidate Name</th>
                            <th style="text-align: center">Department</th>
                            <th style="text-align: center">Position</th>
                            <th style="text-align: center">Status</th>
                            <th style="text-align: center">Action</th>
                            <th style="text-align: center">Current Status</th>
                            <th style="text-align: center">Schedule Interview</th>
                            <th style="text-align: center">Give Feedback</th>
                            <th style="text-align: center">View Feedback</th>
                            <th style="text-align: center">Offer Mail</th>
                            <th style="text-align: center">Offer Letter</th>
                            <th style="text-align: center">Appointment Letter</th>
                            <th style="text-align: center">Document PDF</th>
                            <th style="text-align: center">Remove Entry</th>

                        </tr>

                        {% for obj in scheduled_interview_all_object %}
                        <tr>
                            <td style="text-align: center"></td>
                            <td style="text-align: center" class="nr">{{obj.name}}</td>
                            <td style="text-align: center" class="align-middle nr">{{obj.department}}</td>
                            <td style="text-align: center" class="align-middle nr">{{obj.position}}</td>

                            <td>
                            <form method="POST" action="/hr_view/status_update/{{obj.id}}">
                            {% csrf_token %}
                            <select name="status" id="status" class="btn btn-primary">
                                <option value="Select an option" disabled selected>Relevant</option>
                                <option value="Not Responding">Not Responding</option>
                                <option value="Interview 1">Interview 1</option>
                                <option value="Interview 1- Reject">Interview 1- Reject</option>
                                <option value="Interview 2">Interview 2</option>
                                <option value="Interview 2 - Reject">Interview 2 - Reject</option>
                                <option value="Interview 3">Interview 3</option>
                                <option value="Interview 3 - Reject">Interview 3 - Reject</option>
                                <option value="Additional Round">Additional Round</option>
                                <option value="Additional Round - Reject">Additional Round - Reject</option>
                                <option value="Machine Test">Machine Test</option>
                                <option value="Machine Test - Reject">Machine Test - Reject</option>
                                <option value="HR Round">HR Round </option>
                                <option value="HR Round Select">HR Round Select</option>
                                <option value="HR Round - Reject">HR Round - Reject</option>
                                <option value="Candidature on Hold">Candidature on Hold</option>
                                <option value="Position on Hold">Position on Hold</option>
                                <option value="Offer Revoked">Offer Revoked</option>
                                <option value="Offer Rolled Out">Offfer Rolled Out</option>
                                <option value="Offer Accepted">Offer Accepted</option>
                                <option value="Ditched">Ditched</option>
                                <option value="Got Another Offer">Got Another Offer</option>
                                <option value="Joined">Joined</option>

                            </select>
                            </td>
                            <td>
                                <input class="btn btn-primary" type="submit" value="Update">
                            </td>
                            </form>
                            <td style="text-align: center">{{obj.status}}</td>


                            <td style="text-align: center"><a href="/hr_view/round_scheduling/{{obj.id}}"><button class="btn btn-primary">Schedule</button></a></td>
                            <td style="text-align: center"><a href="/feedback/{{obj.id}}"><button class="btn btn-warning">Feedback</button></a></td>
                            <td style="text-align: center"><a href="/feedback_view/{{obj.id}}"><button class="btn btn-primary">View</button></a></td>
                            {% if obj.status == 'HR Round Select'%}
                                <td style="text-align: center"><a href="/hr_view/send_offer_mail/{{obj.id}}"><button class="btn btn-success">Generate</button></a></td>
                                <td style="text-align: center"><a href="/hr_view/generate_offer_letter/{{obj.id}}"><button class="btn btn-success">Generate</button></a></td>
                                <td style="text-align: center"><a href="/hr_view/generate_appointment_letter/{{obj.id}}"><button class="btn btn-success">Generate</button></a></td>
                            {% else %}
                                <td style="text-align: center"><button disabled class="btn btn-primary">Generate</button></td>
                                <td style="text-align: center"><button disabled class="btn btn-primary">Generate</button></td>
                                <td style="text-align: center"><button disabled class="btn btn-primary">Generate</button></td>
                            {% endif %}
                            <!--<td><button class="btn btn-primary" onclick="removeRow(this)">Remove</button></td>-->
<!--                            <td><a href="hr_view/scheduled_interview/remove/{{obj.id}}"><button class="btn btn-danger">Remove</button></a></td>-->
                             <td style="text-align: center"><a href="/hr_view/round_scheduling/{{obj.id}}"><button class="btn btn-primary">View</button></a></td>
                             <td style="text-align: center"><a href="/hr_view/scheduled_interview/remove/{{obj.id}}"><button class="btn btn-danger">Remove</button></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--else part to show when the data is not present -->
{% else %}

<h5>No Scheduled Interviews to show</h5>
<div class="text-center">
    <img src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-536.jpg?w=2000" class="img-fluid" alt="Responsive image" width="700" height="560">
</div>
{% endif%}
<hr>


<!--<script>-->
<!--  function removeRow(btn) {-->
<!--    // Get the row containing the button-->
<!--    var row = btn.parentNode.parentNode;-->
<!--    // Get the table-->
<!--    var table = row.parentNode;-->
<!--    // Delete the row-->
<!--    table.removeChild(row);-->
<!--  }-->
<!--</script>-->


{% endblock %}

