{% extends 'HR/base.html' %}
{% load static%}

{% block content %}

 <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
       <div class="card card-primary">
           <div class="card-header">
               <h4>Schedule Interview</h4>
           </div>
           <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data" onsubmit="f1()">
             {% csrf_token %}

            {% for obj in scheduled_interview_object %}

              <div class="form-group mt-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" value="{{obj.name}}" name="name" required>
              </div>

              <div class="form-group mt-3">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" value="{{obj.email}}" name="email" required>
              </div>

              <div class="form-group mt-3 ">
                <label for="contact">Contact number</label>
                <input type="text" class="form-control" id="contact" placeholder="Enter your contact number" value="{{obj.contact_no}}" name="contact" required>
              </div>

              <div class="form-group mt-3 ">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department"  value="{{obj.department}}" name="department" required>
              </div>

              <div class="form-group mt-3 ">
                <label for="position">Position</label>
                <input type="text" class="form-control" id="position" value="{{obj.position}}" name="position" required>
              </div>


             <div class="form-group mt-3 ">
                <input type="hidden" class="form-control" id="round" name="round" >
              </div>

             <div class="form-group mt-3 ">
                <input type="hidden" class="form-control" id="round_two" name="round_two" >
              </div>

            <div class="form-group">
                <label for="machine_test">Interview Round </label>
                <select class="form-control" id="machine_test" name="machine_test" required>
                    <option>Machine Test</option>
                </select>
            </div>

             <div class="form-group mt-3 ">
                <input type="hidden" class="form-control" id="hr_round"  name="hr_round" >
              </div>


              <div class="form-group mt-3 ">
                <label >Select Interviewer</label>
                <select id="interviewer" name="interviewer" class="form-control" required >
                <option value="" disabled selected>Select Interviewer</option>
                {% for i in interviewers %}
                    <option>{{ i.employee_name }}</option>
                {% endfor %}
                </select>
            </div>

             <div class="form-group mt-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group mt-3">
                <label for="time">Time</label>
                <input type="time" class="form-control" id="time" name="time" required>
            </div>


            <div class="form-group">
                <label for="mode">Mode</label>
                <select class="form-control" id="mode" name="mode" onchange="showLink()" required>
                    <option>Select</option>
                    <option>Online</option>
                    <option>Offline</option>
                </select>
            </div>


<!--             <div class="form-group mt-3 " id="date-time-group" style="display:none;">-->
<!--                  <label for="date">Select date and time:</label>-->
<!--                  <input type="datetime-local" class="form-control" id="date" name="date" />-->
<!--             </div>-->

              <div class="form-group" id="linkDiv" style="display:none;">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" name="link" id="link" placeholder="Enter the link">
              </div>

                 <button type="submit"  name="send" id="sendBtn" class="btn btn-primary mt-3 mx-auto d-block">Send Mail</button>

<!--              <div class="text-center mt-3">-->
<!--                <button type="submit" class="btn btn-primary">Send mail</button>-->
<!--              </div>-->



            {% endfor %}
        </form>



<script>
  function showLink() {
    var mode = document.getElementById("mode").value;
    var linkDiv = document.getElementById("linkDiv");
    if (mode == "Online") {
      linkDiv.style.display = "block";
    } else {
      linkDiv.style.display = "none";
    }
  }
</script>

<script>
    function f1(){
    alert('Interview Scheduled and Mail send successfully')
    }
</script>



    {% endblock %}

           </div>
       </div>
 </div>


